{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<section class="card form-card">
    <h1>Регистрация</h1>
    <form method="post">
        <label>Username
            <input type="text" name="username" required minlength="3" placeholder="ivanov" />
        </label>

        <label>Пароль
            <input type="password" name="password" required minlength="6" />
        </label>

        <label>Роль
            <select name="role" required>
                <option value="student">Студент</option>
                <option value="teacher">Преподаватель</option>
            </select>
        </label>

        <button type="submit">Зарегистрироваться</button>
    </form>
</section>
{% endblock %}
